<!DOCTYPE html>

<html>

<head>
  {% block head %}
  <meta charset="utf-8">
  <title> {% block title %}{% endblock %}</title>
  <meta name="description" content="Find the best trails in New Zealand" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="basestyles.css" />
  {% end block %}



</head>


  <body>


    <div id="ride-type">

<h1> What type of ride are you feeling ? </h1>
<div class="line"></div>

    <div id="links">
      <a class="a" href=""> Jumps </a>
      <a class="b" href=""> Single Tracks </a>
      <a class="c" href=""> Forests </a>
      <a class="d" href=""> Alpine </a>



    </div>


    <div id="links2">

      <a class="e" href=""> Bike Park </a>
      <a class="f" href=""> Sea Side </a>
      <a class="g" href=""> Technical </a>
      <a class="h" href=""> Long Rides </a>

    </div>

    <div class="Button"><a id="button" href=""> lets go ride </a>
    </div>




    </div>

  </body>






</html>
