<!DOCTYPE html>

<html>

<head>
  {% block head %}
  <meta charset="utf-8">
  <title> {% block title %}{% endblock %}</title>
  <meta name="description" content="Find the best trails in New Zealand" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="basestyles.css" />
  {% end block %}



</head>


  <body>


    <div id="ride-type">

<h1> Where would you like to ride? </h1>
<div class="line"></div>

    <div id="links">
      <a class="a" href=""> Auckland </a>
      <a class="b" href=""> Rotorua </a>
      <a class="c" href=""> Taupo </a>
      <a class="d" href=""> Wellington </a>



    </div>


    <div id="links2">

      <a class="e" href=""> Nelson </a>
      <a class="f" href=""> Christchurch </a>
      <a class="g" href=""> Queenstown </a>
      <a class="h" href=""> Dunedin </a>

    </div>

    <div class="Button"><a id="button" href=""> lets go ride </a>
    </div>




    </div>

  </body>






</html>
