@font-face {
  font-family: 'Orkney';
  src: url(OrkneyBold.ttf);

}

@font-face {
  font-family: 'OrkneyMedium';
  src: url(OrkneyMedium.ttf);

}


body{
  background-color: lightgrey;
  background-image: url("Images/homepage.jpg");
  background-size: 100%;
  margin: 0;
}




/* #nav a {
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'OrkneyMedium', sans-serif;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
} */

#nav {

  float: right;
  padding-top: 150px;
}

#Text{
  margin-top: 60vh;
  margin-left: 60px;
  color: white;

      }

h1{
  opacity: 0.85;
  font-size: 8rem;
  font-family: 'Orkney';
}

p{
    font-family: 'OrkneyMedium';
  margin-top: -70px;
  max-width: 500px;
  padding-left: 10px;
}



.explore {
  height: 50px;
  position: relative;
  left: 0px;
  top: 40px;
  background-color: #c26c32;
  letter-spacing: 5px;
  word-spacing: 20px;
  font-family: 'OrkneyMedium', sans-serif;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.9;




}


.year{
  position: relative;
  color: white;
  font-family: 'OrkneyMedium', sans-serif;
  letter-spacing: 4px;
  top: 163px;
  left: 60px;
  opacity: 0.8;
}

.explore:hover{
  opacity: 0.7;
}










ul li {
  display: inline;
  text-align: center;
}

#nav a {
   /* display: inline-block; */
  float: left;
  /* width: 0px; */
  margin-left: 150px;
  margin-right: 150px;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: 'OrkneyMedium', sans-serif;
  color: black;


}


#nav a:hover{
  opacity: 0.6;

}


.two:hover ~ .hr {
  margin-left: 40%;
}

.three:hover ~ .hr {
  margin-left: 76%;
}

/* .four:hover ~ hr {
  margin-left: 75%;
} */

.hr {
  height: .25rem;
  position: relative;
  top: 40px;
  width: 100px;
  /* margin: 0; */
  margin-right: 0px;
  margin-top: 100px;
  background: black;
  opacity: 0.85;
  margin-left: 100px;
  border: none;
  transition: .3s ease-in-out;
  z-index: -100;
}





.mobile-menu {

  width: auto;
  position: relative;
  padding: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  /* disable text selection by clicking */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile-menu a.dropdown-link{
  display: block;
  height: 50px;
  padding: 0 20px;
  color: black;
  font-size: 1.3rem;
  cursor: pointer;
  background: yellowgreen;
  font-family: 'Oswald', sans-serif;
}

.mobile-menu a.dropdown-link:hover{
    text-decoration: none;
}
.mobile-menu a.dropdown-link i{
    float: right;
    position: relative;
    top: 15px;
}

.mobile-dropdown {
  font-family: 'OrkneyMedium', sans-serif;
  display: none;
  list-style-type: none;
  background: black;
  opacity: 0.7;
  padding: 0;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  min-width: 125px;

  z-index: 1000;
  /* margin: 0; */
}

.mobile-dropdown li{
  padding: 0;
  height: auto;
}

.mobile-dropdown li a{
  padding: 0;
  color: #FFFFFF;
  display: block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;

  text-decoration: none;
}

.mobile-dropdown li a:hover{
  text-decoration: none;
  /* color: dodgerblue; */
  opacity: 0.7;
}




.menu-toggle{
  flex:0 0 auto;
  width:40px;
  height:40px;
  border:1px solid rgb(15,15,15);
  cursor:pointer;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}
.hamburger,.cross{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.hamburger span{
  display:block;
  width:18px;
  height:2px;
  margin-bottom:3px;
  overflow:hidden;
  position:relative;
}
.hamburger span:last-child{
  margin:0;
}
.hamburger span:before,.hamburger span:after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background-color: black;
  transform:translateX(-200%);
  transition:transform ease 300ms;
}
.hamburger span:after{
  transform:translateX(0);
}
.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
  transition-delay:75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
  transition-delay:150ms;
}
.menu-toggle:hover .hamburger span:before{
  transform:translateX(0);
}
.menu-toggle:hover .hamburger span:after{
  transform:translateX(200%);
}
.menu-toggle.active .hamburger span:before{
  transform:translateX(100%);
}
.menu-toggle.active .hamburger span:after{
  transform:translateX(200%);
}
.cross span{
  display:block;
  width:18px;
  height:2px;
  background-color: black;
  transform:translateY(50%) rotate(45deg) scaleX(0);
  transition:transform ease 200ms;
}
.cross span:last-child{
  transform:translateY(-50%) rotate(-45deg) scaleX(0);
}
.menu-toggle.active .cross span{
  transition-delay:450ms;
  transform:translateY(50%) rotate(45deg) scaleX(1);
}
.menu-toggle.active .cross span:last-child{
  transform:translateY(-50%) rotate(-45deg) scaleX(1);
}









/* Media quaerys */






@media only screen and (max-width: 1380px){

  body{
    background-size: 130%;
  }




}



@media only screen and (max-width: 1160px){

  #Text{
      margin-top: 60vh;
  }

  #nav a {
    margin-left: 100px;
    margin-right: 100px;
  }



}


@media only screen and (max-width: 950px){

body {
  background-size: 150%;
}

  h1{
      font-size: 6rem;
  }



}



@media only screen and (max-width: 860px){


  #nav a {
    margin-left: 80px;
    margin-right: 80px;
  }

body{
  background-size: 160%;
}



}



@media only screen and (max-width: 760px){


  body{
    background-size: 180%;
  }


.year{

}

    #nav a {
      margin-left: 0px;
      margin-right: 80px;
    }

#Text{
    margin-top: 55vh;
}



hr {
  height: .25rem;
  width: 100px;
  margin: 0;
  background: black;
  opacity: 0.85;
  margin-left: 0px;
  border: none;
  transition: .3s ease-in-out;
  z-index: -100;
}


}




@media only screen and (max-width: 690px){

body{
  background-size: 230%;
  background-position: -150px 0px;
}



h1{
  font-size: 5rem;
  color: black;
  opacity: 0.8;

}



p{
    font-family: 'OrkneyMedium';
  margin-top: -30px;

}


}



@media only screen and (max-width: 620px){

  p{
    max-width: 400px;
    font-size: 0.8rem;
  }

#nav{
margin-top: -400px;
}

.year{
  display: none;
}

#Text{
  margin-top: 300px;
}


}




@media only screen and (max-width: 549px){

body{
  background-size: 240%;
}

#nav {
  display: none;

}

#Text{
  margin-top: 160px;
  margin-left: 30px;


}

h1{
  /* color: white; */

}

p{
  color: black;

}

}




@media only screen and (max-width: 500px) {

body{
  background-size: 260%;


}

#Text{
  margin-left: 20px;
}


}


@media only screen and (max-width: 450px){

body{
  background-size: 350%;
  background-position: -500px 0px;
}

  p{
    max-width: 80%;

  }
}


@media only screen and (max-width: 350px){

#Text{
  padding-top: 70px;
  margin-top: 50px;
}

h1{
  font-size: 3rem;
}

p{
  padding-top: 50px;
}


}







/* Media min width */

@media only screen and (min-width: 550px){
.mobile-menu {
display: none;

}


}





/* media quaerys height */

/* @media only screen and (max-height: 1024px){

body{
  background-size: 140%;

}


} */
