@font-face {
  font-family: 'Orkney';
  src: url(OrkneyBold.ttf);

}

@font-face {
font-family: 'SF-Pro-Display-Bold';
src: url(SF-Pro-Display-Bold.otf);

}

@font-face {
  font-family: 'OrkneyMedium';
  src: url(OrkneyMedium.ttf);

}


@font-face {
  font-family: 'sf';
  src: url(sf-pro-display_medium.ttf);

}

@font-face {
  font-family: 'sf-light';
  src: url(sf-pro-display_light.ttf);

}


.no-js #loader { display: none;  }
 .js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
   background-color: #0d1215;
   text-align: center;
   color: white;
  font-family: 'SF-Pro-Display-Bold';
  padding-top: 400px;
  letter-spacing: 2px;
background-image: linear-gradient(to bottom right, #1b2523, #171818);
}




body{
    background-color: #181818;
  background-image: url("Images/Typeofride.jpg");
  background-size: 100%;
  margin: 0;
}




/* #nav a {
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'OrkneyMedium', sans-serif;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
} */

#nav {

  float: right;
  padding-top: 50px;
}

#Text{
margin-left: auto;
margin-right: auto;
margin-top: 200px;
  color: white;
  text-align: center;

      }

h1{
  opacity: 0.85;
  font-size: 5rem;
font-family: 'SF-Pro-Display-Bold';
font-weight: lighter;
}

p{
    font-family: 'sf-light';
margin-left: auto;
margin-right: auto;
font-size: 1.2rem;
  max-width: 400px;
  line-height: 30px;

}



.explore {

  position: relative;
  left: 0px;
  top: 80px;
  /* background-color: #1c1c1c; */
    /* background-image: linear-gradient(to bottom right, red, yellow); */
  background-image: linear-gradient(to bottom right, #00537E, #3AA17E);
/* background-color: #D4145A; */

  /* letter-spacing: 2px; */
  /* word-spacing: 20px; */
  font-family: 'SF-Pro-Display-Bold';
  color: white;
  text-decoration: none;
  border-radius: 40px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* opacity: 0.9; */
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
  box-shadow: 5px 10px 50px #1c1c1c;
  height: 100px;
  background-size: 100%;

}

img{
  margin-left: 20px;
transition: 0.5s box-shadow;
transition: all .2s ease-in-out;
}

img:hover{
  transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 2px 2px #2c2421;
  -moz-box-shadow: 2px 2px 2px 2px #2c2421;
  box-shadow: 1px 10px 50px 0px #2c2421;
}

.images
{
position: relative;
left: 900px;
top: -300px;
/* background-color: red; */
width: 500px;
}


.year{
  position: relative;
  color: white;
  font-family: 'OrkneyMedium', sans-serif;
  letter-spacing: 4px;
  top: 163px;
  left: 60px;
  opacity: 0.8;
}

.explore:hover{
  opacity: 0.7;
}










ul li {
  display: inline;
  text-align: center;
}

#nav a {
   /* display: inline-block; */
  float: left;
  /* width: 0px; */
  margin-left: 150px;
  margin-right: 150px;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: 'OrkneyMedium', sans-serif;
  color: black;


}


#nav a:hover{
  opacity: 0.6;

}


.two:hover ~ .hr {
  margin-left: 40%;
}

.three:hover ~ .hr {
  margin-left: 76%;
}

/* .four:hover ~ hr {
  margin-left: 75%;
} */

.hr {
  height: .25rem;
  position: relative;
  top: 40px;
  width: 100px;
  /* margin: 0; */
  margin-right: 0px;
  margin-top: 100px;
  background: black;
  opacity: 0.85;
  margin-left: 100px;
  border: none;
  transition: .3s ease-in-out;
  z-index: -100;
}












/* Media quaerys */






@media only screen and (max-width: 1380px){

  body{
    background-size: 1700px;
  }




}









@media only screen and (max-width: 860px){


  #nav a {
    margin-left: 80px;
    margin-right: 80px;
  }

body{
  background-position: -200px 0px;
}



}



@media only screen and (max-width: 160px){


  body{
    background-size: 180%;
  }


.year{

}

    #nav a {
      margin-left: 0px;
      margin-right: 80px;
    }

#Text{
    margin-top: 55vh;
}



hr {
  height: .25rem;
  width: 100px;
  margin: 0;
  background: black;
  opacity: 0.85;
  margin-left: 0px;
  border: none;
  transition: .3s ease-in-out;
  z-index: -100;
}


}








@media only screen and (max-width: 549px){

body{
  /* background-size: 240%; */
}

#nav {
  display: none;

}

#Text{
  margin-top: 160px;
  margin-left: 30px;


}

h1{
  /* color: white; */
  font-size: 3rem;

}

.explore{


  /* background-color: #1c1c1c; */
    /* background-image: linear-gradient(to bottom right, red, yellow); */
  background-image: linear-gradient(to bottom right, #00537E, #3AA17E);
/* background-color: #D4145A; */

  /* letter-spacing: 2px; */
  /* word-spacing: 20px; */
  font-family: 'SF-Pro-Display-Bold';
  color: white;
  width: 100vw;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 40px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* opacity: 0.9; */
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  box-shadow: 5px 10px 50px #1c1c1c;
  height: 100px;
  background-size: 100%;

}

}






@media only screen and (max-width: 470px){

body{

  background-position: -500px 0px;
}



.explore{
  float: left;
  width: 80%;
  margin-left: -20px;
  height: 100px;
  margin-right: auto;
  padding-top: 100px;
  font-size: 1.5rem;
  margin-top: 10px;
}

}


@media only screen and (max-width: 450px){
  p{
    color: white;
  }


}








/* Media min width */

@media only screen and (min-width: 550px){
.mobile-menu {
display: none;

}


}





/* media quaerys height */

/* @media only screen and (max-height: 1024px){

body{
  background-size: 140%;

}


} */
