{% extends "base.html" %}

{% block title %} About {% endblock %}
{% block description %} About GoRide {% endblock %}
{% block stylesheet %}{{url_for('static', filename='aboutstyles.css')}}{% endblock %}


{% block content %}


<div class="Info">


  <h1> About GoRide </h1>




  <p class="text1"> We are a small group of mates who have gathered together to create a data base of great trails within New Zealand.
      Our goal is to connect people with tracks. So creating a well designed webpage which is easy to use and explores different trails NZ has to offer.



  </p>






</div>




{% endblock %}
