{% extends "about.html" %}


{% block title %} Contact {% endblock %}
{% block description %} About GoRide {% endblock %}
{% block stylesheet %}{{url_for('static', filename='aboutstyles.css')}}{% endblock %}

<style>



.back{
  text-decoration: none;
  color: white;
  font-family: 'OrkneyMedium';
  position: absolute;
  top: 50px;
  left: 30px;


}

.back:hover{
  opacity: 0.7;

}

</style>

{% block content %}


<div class="Info">
<a class="back" href="/landing"> &lsaquo; Back </a>

  <h1 style="  font-family: 'SF-Pro-Display-Bold', sans-serif; padding-left: 20px; margin-top: 100px; text-align: center;"  > Get in touch with us </h1>


  <p class="contactText"> email: goridenz@gmail.co.nz



  </p>



{% endblock %}
