{% extends "base.html" %}

{% block title %} Go ride {% endblock %}
{% block description %} blah blah {% endblock %}
{% block stylesheet %}{{ url_for('static', filename='styles.css') }}{% endblock %}







{% block content %}








  <div id="nav">





    <ul>
        <li class="one"><a href="/landing">Trails</a></li><!--
     --><li class="two"><a href="/about">About</a></li><!--
     --><li class="three"><a href="/contact">Contact</a></li>
      <!-- <li class="four"><a href="#">Quatro</a></li>  -->
      <div class="hr"></div>

        <!-- <hr> <hr /> -->
      </ul>



  </div>


  <div class="mobile-menu">

    <!-- <a class="dropdown-link">hello</a> -->

    <div class="menu-toggle">
  <div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
  </div>
  <div class="cross">
  <span></span>
  <span></span>
  </div>
  </div>


  <ul class="mobile-dropdown">
  <li> <span><a href='/landing'>Trails</a></span></li>
  <li> <span><a href="/about">About</a></span></li>
  <li><span><a href="/contact">Contact</a></span></li>

  </ul>
  </div>




<p class="year"> 2 0 1 8 </p>



<div id="Text">

  <h1> Go Ride NZ </h1>
  <p>
    Find some of New Zealand's best trails, not by name but by what you want to ride. Whether its jumps, alpine or seaside. GoRide
    can find the perfect trail for you.
  </p>

  <a class="explore" href="/landing">Trails </a>
  <a class="explore" href="/alllocation">All locations </a>


</div>

<div class="images">
<a href="/Otago/result"><img  src="static/Images/EO.png" width="220px"></a> <a href="/Rotorua/result">  <img src="static/Images/RB.png" width="220px"></a>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script>

$(document).ready(function() {
  $(".mobile-menu").on('click', function() {
    $(".mobile-dropdown").slideToggle("fast");
  });
});
</script>

<script>
$(document).ready(function(){
	$('.menu-toggle').on('click',function(){
		$('.menu-toggle').toggleClass('active');
	});
});
</script>



{% endblock %}
