{% extends "base.html" %}

{% block title %} Landing Page {% endblock %}
{% block description %} blah blah {% endblock %}
{% block stylesheet %}{{url_for('static', filename='landingstyles.css')}}{% endblock %}

{% block content %}


<div id="ride-type">

  <h1> What type of ride are you feeling ? </h1>
  <div class="line"></div>

  <div id="links">
    {% for trail in trails %}

    <a class="{{ trails[0] }}" href="{{ trail[0] }}/location"> {{ trail[0] | replace('jumps', 'Jumps') | replace('Seaside', 'Sea Side') | replace('bikepark', 'Bike Parks') | replace('singletrack', 'Single Tracks') | replace('technical', 'Technical') }} </a>



    {% endfor %}
  </div>




  <br />


</div>



{% endblock %}
