{% extends "base.html" %}

{% block title %} Landing Page {% endblock %}
{% block description %} blah blah {% endblock %}
{% block stylesheet %}{{ url_for('static', filename='landingstyles.css') }}{% endblock %}

{% block content %}
<div id="ride-type">

  <h1> What type of ride are you feeling ? </h1>
  <div class="line"></div>

  <div id="links">
    {% for trail in trails %}
    <a style="background-image:url( static/Images/Alpine.jpg )" href="/location"> Jumps </a>
    <a style="background-image:url( static/Images/Alpine.jpg )" href="/singletrack"> Single tracks </a>

    {% endfor %}
  </div>




  <br />


</div>
{% endblock %}
