{% extends "base.html" %}

{% block title %} Type of ride {% endblock %}
{% block description %} blah blah {% endblock %}
{% block stylesheet %}{{url_for('static', filename='landingstyles.css')}}{% endblock %}

{% block content %}


<div id="leftNav">

 <a class="title" href="/landing">Go Ride NZ</a>

 <!-- <a class="Sub-title">Style</a> -->

<a class="Sub-title-semi" href="/all/result"> All trails </a>

{% for trail in trails %}

 <a class="Sub-title-semi" href="/{{ trail[0] }}/location"> {{ trail[0] | replace('jumps', 'Jumps') | replace('Seaside', 'Sea Side') | replace('bikepark', 'Bike Parks') | replace('singletrack', 'Single Tracks') | replace('technical', 'Technical') }} </a>

{% endfor %}
  <a class="Sub-title-semi" href="/contact"> Contact </a>

</div>


<div id="ride-type">

  <!-- <a id="back" href="/"> &lsaquo; Home </a> -->
  <!-- <a class="all" href="/all/result"> All Trails &#8897; </a> -->
  <h1> Browse trails </h1>
<div class="navlinks">
  <a class="Browselinksl">OVERVIEW</a>
  <a class="Browselinks" href="#type">STYLE</a>
  <a class="Browselinks" href="/alllocation">LOCATION</a>

</div>

<div class="imagehead">

Find NZ's best MTB trails.

</div>










<div class="section">
      <div class="line"></div>

    <div class="title1">
    <p> Bike parks </p>

    </div>


    <div class="line2"></div>




    <div class="hel">

    <ul >

      <li><a href="/bikepark/Otago/result"><img class="img1" src='static/Images/bikepark1.png' ><p class="titletext">Queenstown</p></a></li>
      <li><a href="/bikepark/Bay of Plenty/result"><img class="img1" src='static/Images/bikepark2.png' ><p class="titletext">Rotorua</p></a></li>
      <li><a href="/bikepark/Canterbury/result"><img class="img1" src='static/Images/bikepark3.png' ><p class="titletext">Christchurch</p></a></li>

    </ul>
    </div>

</div>



<div class="section">
  <div class="title1">
  <p> Single Tracks </p>

  </div>


  <div class="line2"></div>

  <div class="hel">

  <ul >

    <li><a href="/Heaphy/result"><img class="img1" src='static/Images/single1.png' ><p class="titletext">The Heaphy</p></a></li>
    <li><a href="/Wakamarina/result"><img class="img1" src='static/Images/single2.png' ><p class="titletext">Wakamarina</p></a></li>
    <li><a href="/Coronetpeak/result"><img class="img1" src='static/Images/single3.png' ><p class="titletext">Coronet Peak</p></a></li>

  </ul>
  </div>

</div>





<div class="section">
  <div id="type" class="title1">
  <p> Types of rides </p>

  </div>


  <div class="line2"></div>

  <div class="hel">

  <ul >
    {% for trail in trails %}

    <li><a href="{{ trail[0] }}/location"><img class="img1" src='static/Images/single1.png' ><p class="titletext">{{ trail[0] | replace('jumps', 'Jumps') | replace('Seaside', 'Sea Side') | replace('bikepark', 'Bike Parks') | replace('singletrack', 'Single Tracks') | replace('technical', 'Technical') }}</p></a></li>

  {% endfor %}
  </ul>
  </div>

</div>

</div>


<!-- <div class="sortEntry">
{% for trail in trails %}


    <a class="entry">

      <ul>

    <li><a><img class="img1" src='{{ trail[1] }}' ></a></li>

    <li> <a> <h1> {{ trail[0] }} </h1></a></li>


</ul>


    {% endfor %}
    </a>

</div> -->










<!--
  <div id="links">
    {% for trail in trails %}

    <a class="" href="{{ trail[0] }}/location">  {{ trail[0] | replace('jumps', 'Jumps') | replace('Seaside', 'Sea Side') | replace('bikepark', 'Bike Parks') | replace('singletrack', 'Single Tracks') | replace('technical', 'Technical') }} <img class="img2" src='{{ trail[1] }}' width="200px"  >   </a>



    {% endfor %}
  </div> -->




  <br />


</div>
















<script>
$(function() {
  // Smooth Scrolling
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>




{% endblock %}
