{% extends "base.html" %}

{% block title %} Landing Page {% endblock %}
{% block description %} blah blah {% endblock %}
{% block stylesheet %}{{ url_for('static', filename='landingstyles.css') }}{% endblock %}

{% block content %}
<div id="ride-type">

  <h1> Where do you want to ride ? </h1>
  <div class="line"></div>

  <div id="links">
    {% for trail in ride %}
    <a style="background-image:url( static/Images/Alpine.jpg )" href="/{{ trail[0] }}/result"> {{ trail[0] }} </a>
    {% endfor %}

  </div>





  <br />


</div>
{% endblock %}
